section {
    height : 600px;
    border: 5px solid black;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't affect overall dimensions */
    padding : 20px 0;
    padding-top: 100px;

    background-size: calc(100% - 40px) auto;
    background-size: contain; /* Keep the image aspect ratio */
    background-position: 80% 0; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    background-blend-mode: multiply; /* Blend the gradient with the image */
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5); /* Customize shadow */
    background-clip: content-box; 
}

#event-1.events  {
    background-image: url('../images/dinner1.jpg');
}

#event-1.events p:first-of-type {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 10%;
}

#event-1.events p {
    line-height: 35px;
}

#event-2.events  {
    background-image: url('../images/worshippic.jpg');
}

#event-2.events p:first-of-type {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 10%;
}

#event-3.events {
    background-image: url('../images/service1.jpg');
}

#event-3.events p:first-of-type {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 10%;
}

h3 {
    font-size: 3em;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -80px;
    margin-left: 10%;
}



.events p {
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top: 20px;

    width: auto;
    max-width: 700px;
}

.events button {
    font-size: 1.6em;
    font-weight: 400;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top: 20px;
    cursor: pointer;
}

.events button:hover {
    background-color: white;
    color: black;
}

.share-container {
    position: relative;
}

/* Pop-up styles */
.share-popup {
    position: absolute;
    top: 100%;
    left: 10%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
    flex-direction: column;
    z-index: 1000;
}

.share-popup a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: block;
}

.share-popup a:hover {
    background: #007bff;
    color: #fff;
}

/* Utility classes */
.hidden {
    display: none;
}

.visible {
    display: flex;
}