<nav>
    <a href="https://webpages.charlotte.edu/jborishk/">Charlotte.edu</a>
    ||
    <a href="https://justin-borishkevich.github.io/itis3135/">GitHub</a>
    ||
    <a href="https://justin-borishkevich.github.io">GitHub.io</a>
    ||
    <a href="https://www.freecodecamp.org/fcc6c516045-1a59-47c1-8060-d144f04eb386">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/JudiciousBeaver">CodeAcademy</a>
    ||
    <a href="https://www.linkedin.com/in/justin-borish/">LinkedIn</a>
</nav>
<p>Page Designed by <a href="JPBVisuals.com/" target="_blank">JPBVisuals</a> &copy;2024, <a href="https://www.freecodecamp.org/certification/fcc6c516045-1a59-47c1-8060-d144f04eb386/javascript-algorithms-and-data-structures-v8" target="_blank">Certified in JS.</a></p>