<h1>Justin Borishkevich Judicious Beaver || ITIS3135</h1>
<nav class="primary">
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="about.html">About</a>
</nav>
<em>"Outfitting Lawyers with a Dam Good Look"</em>

<nav class="secondary">
    <a href="stuff\CRAPPY- !wEPage.html" target="_blank">CRAPPY Webpage</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="project\index.html" target="_blank">Project Page</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="forms.html">Forms</a>
    ||
    <a href="hobby\index.html" target="_blank">Hobby Page</a>
    ||
    <a href="emmet.html" target="_blank">Emmet Page</a>
    ||
    <a href="firstscripts.html">JavaScript Page</a>
    ||
    <a href="byo_intro.html">BYO Page</a>
    ||
    <a href="drawing.html">Drawing Page</a>
</nav>